<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~    Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 ~    SPDX-License-Identifier: MIT-0
-->


<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} %-5p %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>